
.clear {
  clear:both;
}
body {
  font-family: sans-serif;
  background-color: #B69DC9;
  color: #F5F5F5;
}

a{
  color: #d1d1d1
}

a:hover {
  color:#00AEFF;
}
header {
  margin: 20px;
  padding: 20px;
  border: 3px solid rgb(0,174,255);
  background-color: #698EFF;
}

header h1 {
  font-size: 2em;
}

header nav ul li {
  display:inline;
}

#project-container, #aboutme {
  margin: 0 auto;
  width: 90%;
  max-width: 600px;
}
.project {
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border-bottom:3px solid rgb(0,174,255);
  background-color: #698EFF;
  border-top: 3px solid rgb(0,174,255);
}

.project img, #aboutme img, #handsome img {
  width: 250px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.project h2, #aboutme h2{
  font-size: 1.5em;
  margin-bottom: 10px;
}

#linked {
  color: #FFFFFF ;
}
body header h1{
  font-family: "Lucida Console", "Courier New", monospace;
}
#aboutme {
  border-bottom:3px solid rgb(0,174,255);
  background-color: #698EFF;
  border-top: 3px solid rgb(0,174,255);
  padding-bottom: 120px;
}
#aboutme img, #aboutme h2{
  margin-left:10px;
  
}
#aboutme script{
  background-color: #698EFF;
}
.buttom {
  color: #F5F5F5;
  margin-left: 20px;
  height: 100px;
  font-size: 23px;
  background-color: #698EFF;
  border: 0px;
  border-top: 3px solid rgb(0,174,255);
  cursor: pointer;
  border-radius: 4px;
  width: 90%;
  max-width: 600px;
}
#button4, #button5 {
  border-bottom: 3px solid rgb(0,174,255);
}
#title_card {
  margin: 0 auto;
  width: 90%;
  max-width: 600px;
  font-size: 1.5em;
  border:3px solid rgb(0,174,255);
  background-color: #698EFF;
  padding: 10px;
  margin-bottom: 10px;
}
#machine {
  margin: 0 auto;
  border-bottom:3px solid rgb(0,174,255);
  background-color: #698EFF;
  border-top: 3px solid rgb(0,174,255);
  padding:10px;
  width: 90%;
  max-width: 600px;
}
